html {
    background-color: firebrick ;
    color: #f23d91;
    font-size: 14px;
    flex: auto;

}
header {
    background-color: chocolate;
    text-align: right;
    block-size: 100px;
}
#title {
    text-align: center;
    font-size: 50px;
    color: rgb(216, 207, 207);
    background-color: chocolate ;
}
.container {
    flex-direction: column;
}
#description {
    color: rgb(216, 207, 207);
    font-size: 16px;
}
#survey-form {
    border: gold;
    background-color:rgb(173, 62, 62) ;
    border-radius: 80px;
    display:grid;
   border: black;
   border-style: groove;
   margin: auto;
   padding: 10%;
   border-radius: 10%;
}
#number-label {
    color: rgb(216, 207, 207);
    background-color: chocolate;}
}
#number {
    background-color: firebrick;
    color: rgb(216, 207, 207);
}
#dropdown-label {
    color: rgb(216, 207, 207);
    background-color: chocolate;}
#email-label {
    color: rgb(216, 207, 207);
    background-color: chocolate;}
#name-label {
    color: rgb(216, 207, 207);
    background-color: chocolate;}
#name {
    border-radius: 5%;
}
    #checkbox {
       
    }
#checkbox-label {
    color: rgb(216, 207, 207);
    background-color: chocolate;}
#submit {
    margin: 20px;
    border-radius: 20%;
}
textarea {
    color: rgb(216, 207, 207);
    background-color: chocolate;
}
footer {
    background-color:chocolate;
            text-align:center;
            padding:10px;
            margin-top:7px;
}