html {
    background-color: firebrick ;
    color: #f23d91;
    font-size: 14px;
    flex: auto;

}
header {
    background-color: chocolate;
    text-align: right;
    block-size: 100px;
}
#title {
    text-align: center;
    font-size: 50px;
    color: rgb(216, 207, 207);
}
.container {
    flex-direction: column;
}
#survey-form {
    border: gold;
    border-radius: 20px;
    align-items: center;
   border: black;
   border-style: groove;
}
footer {
    background-color:chocolate;
            text-align:center;
            padding:10px;
            margin-top:7px;
}