html {
    background-color: firebrick ;
    color: #f23d91;
    font-size: 14px;
    flex: auto;

}
header {
    background-color: chocolate;
    text-align: right;
    block-size: 100px;
}
#title {
    text-align: center;
    font-size: 50px;
    color: rgb(216, 207, 207);
}
.container {
    flex-direction: column;
}
#survey-form {
    border: gold;
    border-radius: 80px;
    align-items: center;
   border: black;
   border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
   border-style: groove;
}
#number-label {
    margin: 20px;
    background-color: blue;
    border-radius: 30px;
}
#dropdown-label {
    background-color: cornsilk;
}
#email-label {
    background-color: darkcyan;
}
#name-label {
    background-color: darkorange;
}
#checkbox-label {
    background-color: darkslategrey;
}
footer {
    background-color:chocolate;
            text-align:center;
            padding:10px;
            margin-top:7px;
}